
doctype html
html.h-100(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width')
    title webdev
    block css
      link(href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous")
      link(rel='stylesheet' href='/style.css')
      script(src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous")

body.h-100
  block content  
    nav 
        h4 Web-Dev-Project 
        ul
          li 
            a(href ="/") Home
          if user
            li
              a(href ="/auth/profile") Profile
            li
              a(href ="/auth/logout") Logout
          else    
            li
              a(href ="/login") login
            li
              a(href ="/register") Register
                  
    div.container.mt-4
      div.jumbotron
        h1.display-4 Web-Dev-Project
        p.lead If you are a developer and looking for a job make your profile by register in aour page and let talent hunters to find you!!!!
        p.lead The perfect place to look for any kind of developers that suites your company.
        hr.my-4
       
    .login-box.col-sm-8.mx-auto
      h1.mb-4 Developers List
      div.container.mt-4
        div.card
          div.card-header Developers
            div.card-body
              //- each user in users
                //- p Hello my name is #{user.fullname}
                //- p I am from #{user.country}
                //- p I am #{user.age} years old
                //- p I am a #{user.userdesc}
                //- p #{user.skills}              